* {
    box-sizing: border-box;
}

html {
    background-color: #000000;
    border: 0.25rem solid #c0c0c0;
    border-radius: 3rem;
    color: #c0c0c0;
    font-family: monospace;
    font-size: 1rem;
    margin: 0.25rem;
}

a:link {
    color: #00e100;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #00e100;
    text-decoration: none;
}

header {
    flex: 1;
}

nav {
    flex: 1.5;
    margin: auto 0;
    font-weight: bold;
    word-spacing: 1.5rem;
}

nav li {
    display: inline-block;
    width: 3rem;
}

h1 {
    font-weight: bold;
}

main {
    margin: 0 6rem;
}

h2 {
    font-weight: bold;
}

h3,
li,
p {
    color: #ffffff;
}

ul {
    color: #ffffff;
    list-style: square;
}

h4 {
    text-decoration: underline;
}

footer {
    font-size: 0.75rem;
}

.hrtop {
    border: 0.1rem solid #c0c0c0;
}

.hrbottom {
    margin: 3rem 0 0 0;
    border: 0.1rem solid #c0c0c0;
}

.header-navigation {
    display: flex;
    margin: 0 6rem;
}

.logo {
    margin: auto 0;
    height: 6rem;
    width: auto;
}

.blog-article {
    margin: auto 0 1rem 0;
    font-family: monospace;
}

.copyright-socialmedia {
    align-items: center;
    display: flex;
    margin: 1rem 6rem;
}

.socialmedia {
    height: 2rem;
    width: 2rem;
}

#rykros {
    border-radius: 0.5rem;
    float: left;
    height: 4.5rem;
    width: auto;
    margin: 0 1rem 0 0;
}

#copyright {
    flex: 1;
    text-align: left;
}

#socialmedia {
    flex: 1;
    text-align: right;
}