* {
    color: silver;
    font-family: Helvetica;
}

a {
    color: lime;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    font-size: 12px;
    text-align: center;
}

header {
    flex: 1;
}

h2 {
    font-weight: bold;
}

h3,
li,
p {
    color: white;
}

html {
    background-color: black;
    border: 4px solid silver;
    border-radius: 50px;
    margin: 3px;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

nav {
    flex: 2;
    word-spacing: 40px;
}

ul {
    color: white;
    list-style: square;
}

.headerNavigation {
    align-items: center;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}