* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    color: black;
    font-family: Tahoma;
    font-size: 16px;
    text-align: center;
}

a:link {
    color: chocolate;
    text-decoration: underline;
}

a:visited {
    color: chocolate;
    text-decoration: underline;
}

a:hover {
    color: red;
    text-decoration: none;
}

header {
    background-color: chocolate;
}

h1 {
    background-color: white;
    font-size: 40px;
    margin: 10px 0;
    padding: 10px 0 0 0;
    width: 100%;
}

nav {
    margin: 0 0 20px 0;
}

main {
    margin: 0 100px;
}

h2 {
    font-size: 18px;
}

form {
    border: 2px solid chocolate;
    border-radius: 25px;
    margin: 20px 0;
    padding: 20px 20px;
    text-align: left;
}

footer {
    font-size: 12px;
    margin: 0 100px 10px 100px;
}

hr {
    margin: 20px 0 10px 0;
}

.bullies {
    border: 2px solid chocolate;
    border-radius: 25px;
    height: 300px;
    width: auto;
}

.sex {
    float: left;
    height: 30px;
    margin: 15px 0 0 0;
    width: auto;
}

.socialmedia {
    height: 35px;
    width: 35px;
}

#usflag {
    float: left;
    height: 75px;
    margin: 6px 0 0 5px;
    width: auto;
}

#msstateflag {
    float: right;
    height: 75px;
    margin: 6px 5px 0 0;
    width: auto;
}

#logo {
    height: 150px;
    width: auto;
}

#quote {
    font-size: 12px;
}

#bullies {
    border-spacing: 20px;
    margin: 0 auto;
}

#video {
    border: 2px solid chocolate;
    border-radius: 25px;
    margin: 20px 0;
}

#contact {
    margin: 0 250px;
}

#subject {
    width: 100%;
}

#copyright-webmaster-socialmedia {
    display: flex;
}

#copyright {
    flex: 1;
    text-align: left;
}

#webmaster {
    flex: 1;
    text-align: center;
}

#socialmedia {
    flex: 1;
    text-align: right;
}