@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url('./NanumGothicCoding-Regular.ttf') format(truetype), url('./NanumGothicCoding-Bold.ttf') format(truetype);
}

body {
    background-color: #000000;
    color: #c0c0c0;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.25rem;
    margin: 0 auto;
}

a:link {
    color: #00e100;
    text-decoration: none;
}

a:visited {
    color: #00e100;
    text-decoration: underline;
}

a:hover {
    color: #00e100;
    text-decoration: underline;
}

a:active {
    color: #c0c0c0;
    text-decoration: none;
}

header {
    background-color: #000000;
    border-bottom: 0.1rem solid #c0c0c0;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 6.25rem;
}

header img {
    margin-left: 1rem;
    max-width: 100%;
    width: auto;
    max-height: 6rem;
    height: auto;
}

nav {
    text-align: right;
    margin-right: 1rem;
}

nav img {
    margin-left: 1rem;
    max-width: 100%;
    width: auto;
    max-height: 2rem;
    height: auto;
}

.dropdown button {
    background-color: #000000;
    color: #c0c0c0;
    border: 0.1rem solid #c0c0c0;
    border-radius: 1rem;
    font-family: 'Nanum Gothic Coding', monospace;
    cursor: pointer;
    padding: 0.25rem;
    min-width: 20rem;
}

.dropdown a {
    background-color: #000000;
    border: 0.1rem dotted #c0c0c0;
    border-radius: 1rem;
    display: block;
    text-align: center;
    line-height: 1rem;
    padding: 0.25rem;
    margin: 0.1rem 0;
    min-width: 20rem;
}

.dropdown a:hover {
    text-decoration: none;
}

.dropdown .content {
    display: none;
    position: absolute;
    font-size: 0.75rem;
    padding: 0.25rem;
}

.dropdown:hover .content {
    display: block;
}

main {
    margin: 6.25rem 0 6rem 0;
}

.blog,
.about,
.links {
    margin: 6.75rem 2rem 6rem 2rem;
}

.blog h1,
.about h1,
.about h2,
.links {
    text-align: center;
}

.about p img {
    border-radius: 0.5rem;
    float: left;
    width: auto;
    min-height: 12rem;
    height: auto;
    margin: 0 1rem 0 0;
}

main p {
    line-height: 2rem;
    text-wrap: pretty;
}

.resume-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
}

.resume-body h2 {
    text-align: left;
}

.contact-about-experience-projects {
    border-right: 0.1rem solid #c0c0c0;
    padding: 0 1rem 0 0;
    max-width: 100%;
    width: auto;
}

.education {
    margin-top: 0;
}

.education-certs-skills {
    padding: 0 0 0 1rem;
    width: 60rem;
}

.education-certs-skills h3 {
    line-height: 2rem;
}

.resume-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-right: 1rem;
}

.resume-contact img {
    margin: auto 0.5rem;
    max-width: 0.75rem;
    width: auto;
    max-height: 100%;
    height: auto;
}

.resume-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    margin-top: 2rem;
}

.resume-icons img {
    margin: auto 0.5rem;
    max-width: 0.75rem;
    width: auto;
    max-height: 100%;
    height: auto;
}

.resume-icons-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}

.resume-icons-side img {
    margin: auto 0.5rem;
    max-width: 0.75rem;
    width: auto;
    max-height: 100%;
    height: auto;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: none;
    margin-bottom: 5rem;
    width: 100%;
}

.welcome img {
    margin: 0 2rem 0 1rem;
    max-width: 100%;
    width: auto;
    max-height: 30rem;
    width: auto;
}

.welcome-h1-p {
    text-align: left;
    margin-left: 2rem;
}

.update {
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: none;
    margin-bottom: 5rem;
    width: 100%;
}

.update img {
    margin: 0 1rem 0 2rem;
    max-width: 12rem;
    width: auto;
    max-height: 100%;
    height: auto;
}

.update-h1-p {
    text-align: right;
    margin-right: 2rem;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: none;
    margin-bottom: 5rem;
    width: 100%;
}

.feature img {
    margin: 0 2rem 0 1rem;
    max-width: 12rem;
    width: auto;
    max-height: 100%;
    height: auto;
}

.feature-h1-p {
    text-align: left;
    margin-left: 2rem;
}

ul {
    color: #c0c0c0;
    list-style: square;
    line-height: 2rem;
    text-wrap: pretty;
}

footer {
    background-color: #000000;
    border-top: 0.1rem solid #c0c0c0;
    font-size: 0.75rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

footer p {
    margin-left: 1rem;
}

footer img {
    margin-right: 1rem;
    max-width: 100%;
    width: auto;
    max-height: 2rem;
    height: auto;
}
