@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url('../NanumGothicCoding-Regular.ttf') format(truetype), url('../NanumGothicCoding-Bold.ttf') format(truetype);
}

body {
    background-image: url('./gfx/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.25rem;
    margin: 0 auto;
}

a:link {
    color: #c23c23;
    text-decoration: none;
}

a:visited {
    color: #c23c23;
    text-decoration: underline;
}

a:hover {
    color: #c23c23;
    text-decoration: underline;
}

a:active {
    color: #ffffff;
    text-decoration: none;
}

header {
    background-color: #0c147d;
    border-bottom: 0.1rem solid #c0c0c0;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 6.25rem;
    z-index: 99;
}

header img {
    margin-left: 1rem;
    max-width: 100%;
    width: auto;
    max-height: 6rem;
    height: auto;
}

nav {
    text-align: right;
    margin-right: 1rem;
}

nav img {
    margin-left: 1rem;
    max-width: 100%;
    width: auto;
    max-height: 2rem;
    height: auto;
}

.dropdown button {
    background-color: #151515;
    color: #ffffff;
    border: 0.1rem solid #c0c0c0;
    border-radius: 1rem;
    font-family: 'Nanum Gothic Coding', monospace;
    cursor: pointer;
    padding: 0.25rem;
    min-width: 20rem;
}

.dropdown a,
.dropdown span {
    background-color: #151515;
    border: 0.1rem dotted #c0c0c0;
    border-radius: 1rem;
    display: block;
    text-align: center;
    line-height: 1rem;
    padding: 0.25rem;
    margin: 0.1rem 0;
    min-width: 20rem;
}

.dropdown a:hover {
    text-decoration: none;
}

.dropdown .content {
    display: none;
    position: absolute;
    font-size: 0.75rem;
    padding: 0.25rem;
}

.dropdown:hover .content {
    display: block;
}

main {
    text-align: center;
    margin: 6.75rem 0 6rem 0;
}

.hg-clerk {
    margin: 6.75rem 2rem 6rem 0rem;
}

.hg-job {
    margin: 6.75rem 0rem 6rem 2rem;
}

.sandworm {
    image-rendering: pixelated;
    float: left;
    margin: 1rem;
    width: auto;
    min-height: 7rem;
    height: auto;
}

.tinkerbells-dog,
.dying-boy,
.daughter {
    float: left;
    margin: 0 1rem 0 0;
    width: auto;
    max-height: 10rem;
    height: auto;
}

.missing-student {
    image-rendering: pixelated;
    float: left;
    margin: 1rem;
    width: auto;
    min-height: 7.5rem;
    height: auto;
}

.fract-ooze {
    image-rendering: pixelated;
    float: left;
    margin: 1rem;
    width: auto;
    min-height: 7.5rem;
    height: auto;
}

.stain-life {
    image-rendering: pixelated;
    float: left;
    margin: 1rem;
    width: auto;
    min-height: 6rem;
    height: auto;
}

.king-rappy {
    image-rendering: pixelated;
    float: left;
    margin: 1rem;
    width: auto;
    min-height: 6rem;
    height: auto;
}

.hg-job p {
    line-height: 2rem;
    text-wrap: pretty;
    text-align: left;
}

main p {
    line-height: 2rem;
    text-wrap: pretty;
}

main img {
    margin: 0 auto;
}

.bio {
    text-align: left;
    margin: 0 2rem;
}

.bio img {
    float: left;
    margin-right: 1rem;
    width: auto;
    height: 25rem;
}

.darkforce-tpd {
    width: 20rem;
    height: auto;
}

.hunters-guild {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    text-align: left;
    margin: 0 auto;
}

.hunters-guild img {
    flex: auto;
    height: auto;
    max-width: 20rem;
    width: auto;
    margin-top: 1rem;
}

.hunters-guild ol {
    flex: auto;
    line-height: 1.75rem;
}

h6 {
    margin-top: 0;
}

.span-bold {
    font-weight: bold;
}

.intro {
    text-align: left;
    margin: 0 auto 2rem auto;
    width: 20rem;
}

.introtitle {
    text-align: center;
}

.pcs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
}

.pcs a {
    flex: 0 0 auto;
    text-wrap: wrap;
    width: 5rem;
}

.npcs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem;
}

.npcs a {
    flex: 0 0 auto;
    text-wrap: wrap;
    width: 5rem;
}

.tech-skills-combos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    margin-top: 2rem;
    width: 100%;
}

ul {
    color: #ffffff;
    list-style: square;
}

footer {
    background-color: #0c147d;
    border-top: 0.1rem solid #c0c0c0;
    font-size: 0.75rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

footer p {
    margin-left: 1rem;
}

.sega {
    text-align: center;
}

.socialmedia img {
    margin-right: 1rem;
    max-width: 100%;
    width: auto;
    max-height: 2rem;
    height: auto;
}