@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url('../NanumGothicCoding-Regular.ttf') format(truetype), url('../NanumGothicCoding-Bold.ttf') format(truetype);
}

body {
    background-image: url('./gfx/stars.png');
    color: #ffffff;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.25rem;
    margin: 0 auto;
}

a:link {
    color: #c23c23;
    text-decoration: none;
}

a:visited {
    color: #c23c23;
    text-decoration: underline;
}

a:hover {
    color: #c23c23;
    text-decoration: underline;
}

a:active {
    color: #ffffff;
    text-decoration: none;
}

header {
    background-color: #0c147d;
    border-bottom: 0.1rem solid #c0c0c0;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 6.25rem;
}

header img {
    margin-left: 1rem;
    max-width: 100%;
    width: auto;
    max-height: 6rem;
    height: auto;
}

nav {
    text-align: right;
    margin-right: 1rem;
}

nav img {
    margin-left: 1rem;
    max-width: 100%;
    width: auto;
    max-height: 2rem;
    height: auto;
}

.ps4-page,
.bios {
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: right;
    width: 16rem;
}

main {
    text-align: center;
    margin: 6.75rem 0 6rem 0;
}

main p {
    line-height: 2rem;
    text-wrap: pretty;
}

main img {
    margin: 0 auto;
}

span {
    font-size: 1rem;
}

.bio {
    text-align: left;
    margin: 0 2rem;
}

.bio img {
    float: left;
    margin-right: 1rem;
    width: auto;
    height: 25rem;
}

.darkforce-tpd {
    width: 20rem;
    height: auto;
}

.span-bold {
    font-weight: bold;
}

.intro {
    text-align: left;
    margin: 0 auto 2rem auto;
    width: 20rem;
}

.introtitle {
    text-align: center;
}

.pcs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
}

.pcs a {
    flex: 0 0 auto;
    text-wrap: wrap;
    width: 5rem;
}

.npcs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem;
}

.npcs a {
    flex: 0 0 auto;
    text-wrap: wrap;
    width: 5rem;
}

.tech-skills-combos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    margin-top: 2rem;
    width: 100%;
}

ul {
    color: #ffffff;
    list-style: square;
}

footer {
    background-color: #0c147d;
    border-top: 0.1rem solid #c0c0c0;
    font-size: 0.75rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

footer p {
    margin-left: 1rem;
}

.sega {
    text-align: center;
}

.socialmedia img {
    margin-right: 1rem;
    max-width: 100%;
    width: auto;
    max-height: 2rem;
    height: auto;
}