@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url('../fonts/NanumGothicCoding-Regular.ttf') format(truetype),
        url('../fonts/NanumGothicCoding-Bold.ttf') format(truetype);
}

body {
    background-color: hsl(0, 0%, 6%);
    color: hsl(171, 100%, 44%);
    font-family: 'Nanum Gothic Coding';
    text-wrap: pretty;
    line-height: 1.5rem;
}

a:link,
a:visited,
a:active {
    color: hsl(48, 72%, 56%);
    text-decoration: none;
}

.navigation-main {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 2rem;
    width: 100%;
}

.navigation h2,
.main h2 {
    background: hsl(0, 0%, 6%);
    margin-top: -1.25rem;
    padding: 0 0.5rem;
    width: fit-content;
}

.navigation {
    border: 0.1rem solid hsl(0, 0%, 100%);
    flex-basis: 15%;
    margin-left: auto;
    padding: 0.5rem 1rem;
}

.navigation ul {
    list-style: none;
    margin-left: -2rem;
}

.navigation ul li::before {
    content: '[ ] ';
    color: hsl(0, 0%, 100%);
}

.navigation .nav-selection::before {
    content: '[X] ';
    color: hsl(340, 76%, 50%);
}

.navigation .nested-list {
    margin-left: -0.5rem;
}

.main {
    border: 0.1rem solid hsl(0, 0%, 100%);
    flex-basis: 85%;
    margin-right: auto;
    padding: 0.5rem 1rem;
}

.rykros-avatar,
.psiv-title-screen,
.hunters-guild {
    float: left;
    margin-top: 1rem;
    margin-right: 1rem;
}

.noxium-elysium {
    float: left;
    margin-top: 0.75rem;
    margin-right: 1rem;
    height: auto;
    width: 20rem;
}

.alisas-adventure-bp-rando {
    float: left;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    margin-right: 1rem;
    height: auto;
    width: 20rem;
}

.link img {
    border: 0.05rem solid hsl(0, 0%, 75%);
    height: auto;
    width: 20rem;
}

.psiv-soundtrack {
    float: left;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 10rem;
}

.main span {
    color: hsl(0, 0%, 100%);
}

.main hr {
    margin-top: 1.75rem;
}

#main-h3 {
    background: hsl(0, 0%, 6%);
    margin-top: -1.25rem;
    margin-left: 0.5rem;
    padding: 0 0.5rem;
    width: fit-content;
}

#table-h3 {
    background: hsl(0, 0%, 6%);
    margin-top: -1.75rem;
    margin-left: -0.5rem;
    padding: 0 0.5rem;
    width: fit-content;
}

#table-h3-2 {
    background: hsl(0, 0%, 6%);
    margin-top: -1.9rem;
    margin-left: -0.5rem;
    padding: 0 0.5rem;
    width: fit-content;
}

#combo-h3 {
    background: hsl(0, 0%, 6%);
    margin-top: -1.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5rem;
    width: fit-content;
}

.main ul {
    list-style: none;
    margin-left: -2rem;
}

.main ul li::before {
    content: '>_ ';
    color: hsl(0, 0%, 100%);
}

.links-nav {
    text-align: center;
    margin-bottom: 2rem;
}

.links-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
    width: 100%;
}

.combo-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 5rem;
    width: 100%;
}

.combo {
    width: 46%;
}

.link h4 {
    margin-bottom: 0;
}

h6 {
    margin-top: 0;
}

.p-center {
    text-align: center;
}

table {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

td {
    border: 0.1rem solid hsl(0, 0%, 100%);
    padding: 1rem;
}

.bios-column {
    text-align: center;
    width: 10rem;
}

.tech-column {
    width: 10rem;
}

td p {
    margin-top: 0;
    margin-bottom: 0;
}

.combo video {
    width: 30rem;
}

.top {
    text-align: center;
}

.footer {
    border: 0.1rem solid hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 1rem;
    padding: 0 1rem;
    max-width: 100%;
}